<mat-card>
    <form #regForm="ngForm">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput name="username" type="text" ngModel #username="ngModel" minlength="3" required >
          <mat-error *ngIf="username.invalid">Username must have 3 or more symbols</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput name="email" type="email" ngModel #email="ngModel" required>
          <mat-error *ngIf="email.invalid">Enter valid email</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput name="password" type="password" ngModel #password="ngModel" minlength="5" required>
          <mat-error *ngIf="password.invalid">Password must have 3 or more symbols</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Confirm password</mat-label>
          <input matInput name="confirm" type="passsword" ngModel #confirmPassword="ngModel" required>
          <mat-error *ngIf="confirmPassword.invalid">Please confirm password</mat-error>
        </mat-form-field>
        <button mat-raised-button type="submit">Sign Up</button>
      </form>
</mat-card>

